:root {
  --color-white: #ffffff;
  --color-black: #414141;

  --color-green: #70c05b;

  --color-orange: #ff6633;
  --color-orange-soft: #fcd5ba;

  --color-gray-100: #8f8f8f;
  --color-gray-200: #bfbfbf;
  --color-gray-300: #f3f2f1;

  --color-beige: #f9f4e2;

  --color-white-a60: rgba(255, 255, 255, 0.6);

  --color-orange: #ff6633;
  --color-orange-hover: #e85a2d;
  --color-orange-active: #cf4f28;

  --color-green: #70c05b;
  --color-green-hover: #63ad51;
  --color-green-active: #579947;

  --font-family-main: "Montserrat", sans-serif;
  --font-family-secondary: "Inter", sans-serif;
  --font-family-accent: "Rubik", sans-serif;
  --font-family-brand: "Gilroy", sans-serif;

  --bg-page: var(--color-gray-300);
  --bg-surface: var(--color-white);

  --text-primary: var(--color-black);
  --text-secondary: var(--color-gray-100);
  --text-muted: var(--color-gray-200);

  --brand-primary: var(--color-green);
  --accent: var(--color-orange);

  --fs-xs: clamp(10px, 1.6vw, 12px);
  --fs-sm: clamp(12px, 1.8vw, 14px);
  --fs-md: clamp(14px, 2vw, 16px);
  --fs-lg: clamp(18px, 2.5vw, 20px);
  --fs-xl: clamp(20px, 3vw, 24px);
  --fs-xxl: clamp(24px, 4vw, 36px);

  /* line-height */
  --lh-tight: 1.1;
  --lh-base: 1.3;
  --lh-loose: 1.5;

  /* font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}
